<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRfidGatewayService" />
                <binding name="BasicHttpsBinding_IRfidGatewayService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://handsoftnet.hu/FarmTojas/RfidGateway/RfidGatewayService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRfidGatewayService"
                contract="TojasServiceWCF.IRfidGatewayService" name="BasicHttpBinding_IRfidGatewayService" />
            <endpoint address="https://hsserver/FarmTojas/RfidGateway/RfidGatewayService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IRfidGatewayService"
                contract="TojasServiceWCF.IRfidGatewayService" name="BasicHttpsBinding_IRfidGatewayService" />
        </client>
    </system.serviceModel>
</configuration>