<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRFIDService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.77.11/Log4Pro_CEMBRIT/WCF/RFID.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRFIDService"
                contract="CembritWS.IRFIDService" name="BasicHttpBinding_IRFIDService" />
        </client>
    </system.serviceModel>
</configuration>